<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1><%= kindOfDay %></h1>
    <ul>
        <% for(let i = 0; i < addedItems.length; i++) {  %>
            <li><%= addedItems[i] %></li>
        <% } %>
    </ul>
    <form action="/" method="POST">
        <label for="input">Add To Do List</label>
        <input id="input" type="text" name="newItem" autofocus>
        <button id="add-btn" type="submit">add</button>
    </form>
</body>
</html>